<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Movie Ticket Booking</title>
  </head>
  <body>

    <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Movie Ticket Booking</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">


        <a class="mdl-navigation__link" href="/" role="button">Home</a>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Hi,{{USER}}</span>
    <nav class="mdl-navigation">


      <a class="mdl-navigation__link" href="/" role="button">Home</a>

    </nav>
  </div>
  <form action="/display_winner_list_page">
  <div align=center>
  <Table border = 2>
  {% for row in rows %}
  <tr>
    <td>  
        <!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
  img{
    width: 70%;
    height: 70%;
  }
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('static/purple.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <img src="static/audi1.png" alt="Bentely" >
  </div>
  <div class="mdl-card__supporting-text" name="car_name">
     <h2 class="mdl-card__title-text">{{row[1]}}</h2>
  </div> <hr color="red">
  <div class="mdl-card__supporting-text">
    Minimum Bidding is : {{row[3]}}
  </div> <hr color="red">
  <div class="mdl-card__supporting-text">
   Description : {{row[4]}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" disabled value="Place a Bid">
      <!-- Dynamically Populate Select Option List Value Using JavaScript Option Constructor - Decoding Code -->
    </a> &nbsp; &nbsp; &nbsp;
    <!-- <form action="/user_statistics"> -->
   <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" value="Winner">
    </form>
  </div>
  <div class="mdl-card__menu">
    <span class="mdl-badge" data-badge="{{row[0]}}">Rating</span>
  </div>
</div>
    </td>
  </tr>
  {% endfor %}
    </table>
  </div>
</div><!-- Your content goes here --></div>
  </main>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>