<html>
   <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Movie Ticket Booking</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">


        <a class="mdl-navigation__link" href="/" role="button">Home</a>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Hi,User</span>
    <nav class="mdl-navigation">


      <a class="mdl-navigation__link" href="/" role="button">Home</a>

    </nav></div>
    <div align=center> 
      <div class="card" style="width: 24rem;" align=center>
          <img class="card-img-top" src="static/bg.jpg" alt="Card image cap">
    <h1>User Bidding Form</h1>
    <form action="/user_bidding_add" method="post">
    <div class="form-group">

       <label for="exampleInputEmail1">Enter item ID</label>
      <input type="text" class="form-control" name="id" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address">  
      <select class="form-control" id="exampleFormControlSelect1" name="uitem">
        {% for mname in rows_2 %}
        <option>{{mname}}</option> 
          {% endfor %}
      </select>

      
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Enter Amount to bid</label>
         <input type="text" class="form-control" name="amount" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address">  
      </div>
<button type="submit" class="btn btn-primary" input type="submit" onclick="display()">Add</button>
    </form>
        <script>
          function display(){
            alert("Inserted Successfully!!")
          }
        </script>
  </body>
</html>





<!-- <html>
  <body>
    <form action="/user_bidding_add" method="post">
      Enter Item name : <input type="text" name="uitem"><br>
      Enter Amount to bid : <input type="text" name="amount"><br>
      <input type="submit" value="Place a Bid">
    </form>
    <a href="/user_bidding_view">View bids</a>
  </body>
</html> -->